<!DOCTYPE html>
<html>
<head>
<title>文化标识 - 信阳师范学院</title>
<link rel="stylesheet"
	href="//file.xynu.edu.cn/skin/m3/style.css?v=8402" />
<style type="text/css">
.blk {
	padding: 0px 60px;
}
</style>
</head>
<body>
	<div class="blk">
		<div class="wrap">
			<div class="col54">
				<div class="bk">
					<dl class="box bx8 mt20">
						<dt>
							<strong>文化标识</strong> <span class="more">当前位置： <a
								href="/image/method-draw-image.svg">首页</a> &gt;&gt; 文化标识
							</span>
						</dt>
						<dd>
							<div class="enrty">
								<p style="text-align: center;">
									<img src="http://file.xynu.edu.cn/skin/images/logobz1.png"
										width="100" title="newlogo" alt="newlogo" />
								</p>
								<p>
									<span style="color: rgb(255, 0, 0);"><strong>标志释义</strong></span>
								</p>
								<p>
									<strong>1.三人行 &nbsp;必有我师</strong>
								</p>
								<p>《论语 &middot;
									述而》:&ldquo;三人行，必有我师焉。&rdquo;标志的主形采取三个奋发向上的大学生，三个人物相互衬托，互为托举，携手共进，拥抱未来，彰显了孔子的&ldquo;三人行必有我师&rdquo;的观念。</p>
								<p>
									<strong>2.身正为师 &nbsp;德高为范</strong>
								</p>
								<p>《论语 &middot;
									子路》:&ldquo;其身正，不令而行；其身不正，虽令不从。&rdquo;标志的主形采用直线为基本造型手段，形成一种积极向上的方正感，而整体造型又是一个上升的箭头，寓意学校的发展态势；而标志外形采用圆形轮廓，这种方圆相融，方形与圆形的结合塑造出天地之间沟通自由的意境，富有广阔的内涵。</p>
								<p>
									<strong>3.十年树木 百年树人</strong>
								</p>
								<p>《管子 &middot; 权修》：&ldquo;
									一年之计，莫如树谷；十年之计，莫如树木；终身之计，莫如树人。&rdquo;标志的整体是一棵参天大树，枝与枝相簇拥，体现了师范院校的育人特色。</p>
								<p>
									<strong>4.图书与信阳的地域特征结合</strong>
								</p>
								<p>
									标志以两本交叉的图书构成了&ldquo;信阳&rdquo;的拼音首字母XY。一方面体现高校教育的文化特色和文理综合协调发展的发展方向；另一方面，彰显了独特的地域内涵。</p>
								<p>
									<strong>5.校园环境</strong>
								</p>
								<p>标志的主色调为象征青春、奋进、和谐、智慧的绿色，体现出我校校园绿树成荫，鸟语花香，四季如春，优美的校园环境。</p>
								<div style="text-align: center; line-height: 1.8;">
									<span style="font-size: 48px; font-family: KaiTi">校训：<strong>厚德崇实
											善学敏行</strong></span>
								</div>
								<p>
									<span style="color: rgb(255, 0, 0);"><strong>校训释义</strong></span>
								</p>
								<p>
									<strong>厚德</strong>：语出《易经》：&ldquo;天行健，君子以自强不息；地势坤，君子以厚德载物。&rdquo;厚德与大学精神一致。《大学》有云:&ldquo;大学之道，在明明德，在亲民，在止于至善。&rdquo;德是做人根本，厚德是成才的前提，也是为师的职业操守，同时惟有厚德才能包载万物，兼容并蓄，这也体现了现代大学的办学理念。
								</p>
								<p>
									<strong>崇实</strong>：语出《论衡 &middot;
									定贤》：&ldquo;虽文如锦绣，深如河汉，民不觉知是非之分，无益于弥为崇实之化。&rdquo;
									崇实本意为崇尚实际、崇尚朴实。崇，有尊重、推重之意。崇实体现了&ldquo;以真为本、以实为基、以干为荣&rdquo;的理念，也与我校&ldquo;四实&rdquo;（诚实、扎实、踏实、朴实）人才培养目标一致。
								</p>
								<p>
									<strong>善学</strong>：语出《礼记 &middot;
									学记》：&ldquo;善学者，师逸而功倍，又从而庸之。&rdquo;
									&nbsp;善学既符合传统为学精神，又能体现时代发展要求。在当今这个信息化时代，不仅要博学、勤学，更要善学，惟有善学，才能学有所得、学有成效。对从教者而言，理应&ldquo;善学乐教&rdquo;，惟有善学才能善教，善学是近知之道、立教之本。
								</p>
								<p>
									<strong>敏行</strong>：语出《论语 &middot;
									里仁》：&ldquo;君子欲讷于言而敏于行&rdquo;。敏行，既符合传统文化知行合一更重行的精神，又能体现时代要求。马克思主义注重实践，强调行动，要求行应主动、行应勇敢、行应进取、行应创新、行应有效。敏行，有利于提高人才培养质量。
								</p>

							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</body>
</html>