<!DOCTYPE html>
<html>
<head>
<title>菁菁校园</title>
<link rel="stylesheet" href="//file.xynu.edu.cn/skin/css/base.css" /> 
<link type="text/css" rel="stylesheet" href="//file.xynu.edu.cn/file/p/baguettebox.min.css" /> 
<style type="text/css">
.col43 {
	margin: 0px 150px;
}
h1 {
	text-align: center;
	color: green;
	margin-top: 15px;
	margin-bottom: 15px;
}
</style> 
</head>
<body>
	<div class="wrap cl">
		<div class="col43">
			<h1>菁菁校园</h1>
			<div class="bk">
				<dl class="box tb">
					<dd class="mbody">
						<div class="baguetteBoxOne gallery">
							<ul>
								<li><a href="//file.xynu.edu.cn/file/p/bC1.jpg"><img
										src="//file.xynu.edu.cn/file/p/C1.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC2.jpg"><img
										src="//file.xynu.edu.cn/file/p/C2.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC3.jpg"><img
										src="//file.xynu.edu.cn/file/p/C3.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC4.jpg"><img
										src="//file.xynu.edu.cn/file/p/C4.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC5.jpg"><img
										src="//file.xynu.edu.cn/file/p/C5.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC6.jpg"><img
										src="//file.xynu.edu.cn/file/p/C6.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC7.jpg"><img
										src="//file.xynu.edu.cn/file/p/C7.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC8.jpg"><img
										src="//file.xynu.edu.cn/file/p/C8.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC9.jpg"><img
										src="//file.xynu.edu.cn/file/p/C9.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC10.jpg"><img
										src="//file.xynu.edu.cn/file/p/C10.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC11.jpg"><img
										src="//file.xynu.edu.cn/file/p/C11.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC12.jpg"><img
										src="//file.xynu.edu.cn/file/p/C12.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC13.jpg"><img
										src="//file.xynu.edu.cn/file/p/C13.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC14.jpg"><img
										src="//file.xynu.edu.cn/file/p/C14.jpg" alt="" /></a></li>
								<li><a href="//file.xynu.edu.cn/file/p/bC15.jpg"><img
										src="//file.xynu.edu.cn/file/p/C15.jpg" alt="" /></a></li>
							</ul>
						</div>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<script src="//file.xynu.edu.cn/file/p/baguettebox.min.js"></script> 
	<script>
		baguetteBox.run('.baguetteBoxOne', {
			animation : 'fadeIn',
		});
	</script>
</body>
</html>





