<!DOCTYPE html>
<html>
<head>
<title>联系我们</title>
<style type="text/css">
.well {
	text-align: center;
	margin-top: 100px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image {
	display: inline-block;
  	margin-left: auto;
 	margin-right: 50px;
	margin-bottom: 80px;
}
</style>
</head>
<body>
<div class="box">
	<div class="well">
	<div class="center-block">
		<div class="image">
			<img src="//file.xynu.edu.cn/skin/images/weixin.jpg" class="img" />
			<p>信阳师院微信</p>
		</div>
		<div class="image">
			<a href="http://weibo.com/xynuedu" title="信阳师范学院官方微博" target="_blank">
				<img src="//file.xynu.edu.cn/skin/images/weibo.jpg" alt="信阳师范学院官方微博" class="img" />
			</a>
			<p>信阳师院微博</p>
		</div>
	</div>	
		<div class="tel">
			<strong>联系方式</strong>
			<p>党委办公室电话：0376-6391107 | 传真：0376-6391107</p>
			<p>校长办公室电话：0376-6391171 | 传真：0376-6391171</p>
		</div>
	</div>
</div>
</body>
</html>